import tkinter as tk                 # UI
import tkinter.ttk as ttk            # UI
import tkinter.messagebox as mb      # UI
from tkinter import StringVar        # UI
import requests
import json
import threading
import pystray                        # Tray Icon
from pystray import MenuItem as item  # Tray Icon
from PIL import Image                 # Tray Icon
import atexit
import markdown                       # Future markdown support
import env                            # API env file
import gradio as gr                   # Future Web UI
import boto3                          # TTS AWS Polly
import os
import pygame                         # TTS Playback
